<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>

{% load socialaccount %}

{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}!</p>
    <a href="{% url 'account_logout' %}">Logout</a>
{% else %}
    <p>You are not logged in.</p>
    <p>If you want to login using API click on below button!</p>
    <a href="{% url 'account_login' %}">Login</a>
    <br/>
    <p>If you want to login using social Account then click on below social account links!</p>

    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    <br/>
    <br/>
    <a href="{% provider_login_url 'github' %}">Login with GitHub</a>
    <br/>
    <br/>
    <a href="{% provider_login_url 'linkedin_oauth2' %}">Login with LinkedIn</a>
    <br/>
    <br/>
    <a href="{% provider_login_url 'facebook' %}">Login with Facebook</a>
    <br/>
    <br/>
    <a href="{% provider_login_url 'instagram' %}">Login with Instagram</a>
    <br/>
    <br/>
    <a href="{% provider_login_url 'twitter_oauth2' %}">Login with Twitter</a>
{% endif %}
</body>
</html>
